#searchForm input{
    color:#888888;
    background:url("../img/searchBox.png") no-repeat;

    height:30px;

    margin-right:12px;
    padding:0 0 0 35px;
    outline:none;
    max-width: 200px;
    border:2px solid rgb(200,200,200);
    border-radius: 5px;
}